node_modules
npm-debug.log*
.tmp
.idea
public/assets
.swp
need*
TODO.md
compiled/
hfs.*
rank.*
code*
note*
.vscode
tempFiles/
start-dev.sh
start.sh
.DS_Store
designeNote.js
doc.md
analy-server.pp
codeStyle.jsx
package-lock.json
dump.rdb
time.log
kb.log
error.log
*.log
.DS_Store
